<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ../partials/header.ejs %>
  </head>
  <body class='mail'>
    <h1>Results</h1>
    <h3>Type: <%= type %></h3>
    <h3>Weight: <%= weight %> oz</h3>
    <h3>Cost: $<%= cost %></h3>
    <a href="/">Go home</a>
  </body>
</html>
