<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ../partials/header.ejs %>
  </head>
  <body class='home'>
    <h1>Welcome to the home page</h1>
    <a href="mail_form.html">Calculate Postage</a>
  </body>
</html>
